@{
    ViewData["Title"] = "Principal - Sistema de Login";
}

<center>
    <h2>Login com ASP.NET Core</h2>
    <br />
    <!--<a href="/Usuario/LoginPage" class="btn btn-dark">Realizar Login</a> -->
    <a asp-area="" asp-controller="Usuario" asp-action="LoginPage">Realizar Login</a>
</center>

