@{
    ViewData["Title"] = "Home Page";
}

<div class="cover-container-home">
    <div class="row-text">
        <div class="col-text">
            <h1>Bem Vindo</h1>
            <br />
            <span> Clique no Botão Abaixo Para Prossegui</span>
            <br />
            <a asp-area="" asp-controller="Usuario" asp-action="LoginPage">Realizar Login</a>
        </div>
    </div>
</div>