<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
        body{
            margin:0px auto;
            padding:0px;
        }

        *{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .container {
            width: 100%;
            height: 100vh;
            background-color: #3498db;
        }

        .content {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .header_title {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .header_title > h1{
                color: #FFFF;
            }

            .btn_routing {
                width: 200px;
                height: 50px;
                padding:24px;
                border-radius: 15px;
                border: none;
                background-color: #34495e;
                color: #FFFF;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="header_title">
                <h1>Bem Vindo A Transporte Executivo.Com</h1>
                <a href="/Cadastro/index" class="btn_routing">
                    Entrar
                </a>
            </div>
        </div>
    </div>
</body>
</html>